body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #F5F5F5;
  color: #5F6165;
  min-height: 100%;
}



.bg-light{
  background-color: #F5F5F5 !important;
}

.left{
  margin-left: 230px;
}



.one{
  background-color: #A162F7;;
}

